.body {
    font-family:
            'Yu Mincho',
            /* Windows用 */
            serif;
        text-align: center;
        color: black;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'ROCK','GOTHIC';
    text-align: center;
    color:black;
}
@font-face {
    font-family:'ROCK';
    src:url('../fonts/ROCK.TTF');
}
@font-face {
    font-family:'GOTHIC';
    src:url('../fonts/MSGOTHIC.TTF');
}